* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 20px;
}


.container-top {
    display: flex;
    justify-content: space-between;

} 

a {
    text-decoration: none;
    color: black;
}

.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 200px;
    width: 300px;
}

.search {
    display: flex;
    justify-content: center;
}

.input-box {
    width: 20%;
}

.search-buttons {
    display: flex;
    justify-content: center;
}



.container-bottom {
    display: flex;
    justify-content: space-between;

} 